streamlit==1.26.0
langchain==0.1.235
langchain-community==0.0.164
langchain-groq==0.0.18
langchain-huggingface==0.0.10
langchain-text-splitters==0.0.10
chromadb==0.3.33
sentence-transformers==2.2.2
transformers==4.35.0
torch==2.1.0
pypdf==3.16.0
duckduckgo-search==0.7
ddgs==0.4
tiktoken==0.4.0
