streamlit==1.26.0
rich==14.3.3
markdown-it-py==4.0.0
mdurl==0.1.2
pygments==2.19.2

langchain==0.0.348
chromadb==0.3.33
langchain-huggingface==0.0.10
langchain-groq==0.0.18
langchain-text-splitters==0.0.10

sentence-transformers==2.2.2
torch==2.1.0
pypdf==3.16.0
duckduckgo-search==0.7
tiktoken==0.4.0
